/* Los estilos se aplican a todo el documento */
body {

    background: linear-gradient(90deg, #0dc2f0, #e00f1d);
    background-size: cover;
    text-align: center;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}


.redes-sociales {
    height: 48px;
    width: 48px;
}